@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');



.playwrite-no-font {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: 200;
  font-weight: 400;
  font-style: normal;
}

body{
    /* height: 10000px; */
    /* overflow: hidden; */
}


